<section class="features">
  <div id="container">
      <div id="header">
          <h2 id="h2">Features</h2>
  </div> <!--header close-->
  <div id="horiz-nav">
  </div><!--horiz-nav close-->
  <div id="content">
    <div class="topleft">
              <a href="MyInfo.html">
                  <img src="assets/images/step_1.jpg" alt="feature 1" width="140px" height="140px">
                  <p>feature 1</p>
              </a>
    </div><!--Close .feature 1 class-->

  <div class="topmiddle">
              <a href="AskMyDoctor.html">
                  <img src="assets/images/step_2.jpg" alt="feature 2" width="140px" height="140px">
                  <p>feature 2</p>
              </a>
  </div><!--Close .feature 2 class-->

  <div class="topright">
              <a href="ScheduleAnAppointment.html">
                  <img src="assets/images/step_3.jpg" alt="feature 3" width="140px" height="140px">
                  <p>feature 3</p>
              </a>
  </div><!--Close .feature 3 class-->

  <div class="bottomleft">
              <a href="asdf.html">
                  <img src="assets/images/step_4.jpg" alt="feature 4" width="140px" height="140px">
                  <p>feature 4</p>
              </a>
  </div><!--Close .feature 4 class-->

  <div class="bottommiddle">
              <a href="asdf.html">
                  <img src="assets/images/step_5.jpg" alt="feature 5" width="140px" height="140px">
                  <p>feature 5</p>
              </a>
  </div><!--Close .feature 5 class-->

  <div class="bottomright">
              <a href="asdf.html">
                  <img src="assets/images/step_6.jpg" alt="feature 6" width="140px" height="140px">
                  <p>feature 6</p>
              </a>
  </div><!--Close .feature 6 class-->
      </div> <!--content close-->
  <div id="footer">
  </div> <!--footer close-->
  </div> <!-- container close-->
</section>
