.slideshow {
	height:500px;
	background-color:#DEF2F1;
	overflow:hidden;
}

.slide {
	height:100%;
	width:70%
}

.slide-image {
	width:100%;
}

.slide .caption {
	width:30%;
	padding:20px;
}

.arrow {
  position: absolute;
  width: 36px;
  height: 71px;
  border: none;
}

.arrow.prev {
	top: 50%;
  opacity: 0.5;
  left: 20px;
  transition: 0.2s linear all;
}

.arrow.next {
	top: 50%;
  opacity: 0.5;
  right: 20px;
  transition: 0.2s linear all;
}

.arrow.prev:hover {
  opacity: 1;
}

.arrow.next:hover {
  opacity: 1;
}
