body {
	margin:0;
	padding:90px;
	background-color:#FEFFFF;
}

/* Slideshow Section */
.slideshow {
	background-color:#DEF2F1;
	border:solid;
	overflow:hidden;
}

.slideshow-container {
	max-width:1000px;
	padding:20px;
}

.slide {
	display:flex;
	width:1000px;
	align-items:center;
}

.slide .caption {
	padding: 20px;
	width:50%;
}

.info {
	border-style:solid;
}

.users {
	border-style:solid;
}

.features {
	border-style:solid;
}

.startnow {
	border-style:solid;
}
