<body>

		<!-- Slideshows -->
		<section class="slideshow">

			<div class="slideshow-container">

				<div class="slide">
					<img src="./assets/images/slide-icons.png"/>
					<div class="caption">
						Sample Caption
					</div>

				</div>

				<!--
					<img src="./images/slide-icons.png"/>
					<div class="caption">
						Sample Caption 2
					</div>
				-->

			</div>

		</section>

		<br>

		<div class="info">
		info
		</div>

		<br>

		<div class="users">
		users
		</div>

		<br>

		<div class="features">
		features
		</div>

		<br>

		<div class="startnow">
		startnow
		</div>

	</body>
