<section class="users">

  <div class="users-container">
    <div class="tab">
      <button class="tablinks" (click)="switchTab('Doctors')" id="defaultOpen">Doctors</button>
      <button class="tablinks" (click)="switchTab('Patients')">Patients</button>
      <button class="tablinks" (click)="switchTab('Providers')">Providers</button>
    </div>

    <div id="Doctors" class="tabcontent">
      Doctor
    </div>

    <div id="Patients" class="tabcontent">
      Patient
    </div>

    <div id="Providers" class="tabcontent">
      Provider
    </div>

  </div>

</section>
