* {
    text-transform: uppercase;

}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}



h1 {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 800;
line-height: 26.4px;
text-align: center;
margin-bottom: 10px;

}





a {
text-decoration: none;
color: white;
}



body {
}





ul {
text-align: center;
list-style-type: none;
margin: 0 auto;
padding: 0;
font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 800;
color: white;


}





li {
display: inline-block;
margin: 0 20px;

}





#container {
padding: 0;
margin:0 auto;
background-image: url("images/geometry2.png")

}






#header {
color: rebeccapurple;
font-size: 25px;
margin: 0 auto;
letter-spacing: 4px;
padding-bottom: 4px;
width:690px;
border-bottom: rebeccapurple solid 1px;
}




#nav {
padding: 10px;
margin: 0 auto;
margin-top: 0px;
background-image: url("images/triangular.png");
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c4297+0,9d3090+50,9d3090+50,dc2430+100 */
background: #7c4297; /* Old browsers */
background: -webkit-linear-gradient(left, #7c4297 0%, #9d3090 50%, #9d3090 50%, #dc2430 100%);
background: -o-linear-gradient(left, #7c4297 0%, #9d3090 50%, #9d3090 50%, #dc2430 100%);
background: linear-gradient(to right, #7c4297 0%, #9d3090 50%, #9d3090 50%, #dc2430 100%); /* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4297', endColorstr='#dc2430',GradientType=1 ); /* IE6-9 */

}


#pic_nav {
padding: 2px;
font-size: 15px;
float: right;
margin-right: 250px;

}




#content {
padding-top: 30px;
position: relative;
height: 70%;
margin: 0 auto;
clear:both;
width: 1200px;


}




#footer {
color: black;
padding: 40px;
height: 40%;
background-color:#ecf0f1;
}





img {
margin: 0 auto;
}





#images {
margin: 0 auto;
}





#image {
border-radius: 25px;
float:left;
margin: 20px;
width:150px;
height:500px;
overflow:hidden;
position: relative;
}





#image img {
position: absolute;
top: 0px;
left: -300px;
}





#step_block {
padding-top: 20px;
background-color: #8e44ad;
color: white;
margin: 0 auto;
height: 100px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7c4297+0,9d3090+50,9d3090+50,dc2430+100 */
background: #7c4297; /* Old browsers */
background: -webkit-linear-gradient(left, #7c4297 0%, #53DFBC 50%, #53DFBC 50%, #7c4297 100%);
background: -o-linear-gradient(left, #7c4297 0%, #53DFBC 50%, #53DFBC 50%, #7c4297 100%);
background: linear-gradient(to right, #7c4297 0%, #53DFBC 50%, #53DFBC 50%, #7c4297 100%); /* FF3.6-15 */
/* Chrome10-25,Safari5.1-6 */
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4297', endColorstr='#dc2430',GradientType=1 ); /* IE6-9 */
}

#imageStep {
border-radius: 25px;
width: 850px;
height: 650px;
margin: 0 auto;
overflow:hidden;
position: relative;
}