/* Nav Bar */
.nav {
	position:fixed;
	height:80px;
	left:0;
	top:0;
	right:0;
	background-color: #555;
}

.nav-container {
	display:block;
	width:90%;
	margin-right:auto;
	margin-left:auto;
	overflow:auto;
}

#logo {
	float:left;
	width:80px;
	height:80px;
}

.nav a {
	float: left;
	margin-top:40px;
	margin-left:40px;
	display: inline;
	color: red;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
}

.nav a:hover {
  background-color: #000;
}

#login {
	float: right;
}

/* Body */
body {
	margin:0;
	padding:90px;
	background-color:#FEFFFF;
}

/* Slideshow Section */
.slideshow {
	background-color:#DEF2F1;
	border:solid;
	overflow:hidden;
}

.slideshow-container {
	max-width:1000px;
	padding:20px;
}

.slide {
	display:flex;
	width:1000px;
	align-items:center;
}

.slide .caption {
	padding: 20px;
	width:50%;
}









.info {
	border-style:solid;
}

.users {
	border-style:solid;
}

.features {
	border-style:solid;
}

.startnow {
	border-style:solid;
}