.register-box {
  margin:auto;
  width:40%;
  background-color: white;
  box-shadow: 5px;
  border-radius: 5px;
}

.register-text {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.login-text {
  text-align: center;
  font-size: 15px;
}

.credentials {
  padding: 20px;
}

.credentials button {
  width: 30%;
}

.forgot-password {
  padding: 10px;
  font-size: 10px;
}

.tooltip {

  position: relative;
  top: -40px;
  right: 20px;

  float: right;

  border: solid;
  border-color: blue;
  background-color: lightgrey;
  border-width: 2px;
  border-radius: 5px;

  padding: 5px;

  font-size: 15px;

  opacity:0;
  transition: opacity 0.3s;

}

.tooltip .checkmark {
  display: inline;
  opacity: 0;
}

input:focus + .tooltip {
  opacity:1;
}
