<app-nav></app-nav>

<div class=register-box>
  <div class=register-text>
    Register
  </div>

  <div class=login-text>
    Already have an account? <a routerLink="/login">Sign in</a>
  </div>

  <form>

    <div class=credentials>
      <label for="username"><b>Username </b></label><br><br>
      <input type="text" required><br><br>

      <label for="password"><b>Password </b></label><br><br>
      <input type="password" required> <a routerLink="/" class="forgot-password">Forgot password?</a><br><br>

      <button type="submit">Login</button>
    </div>

  </form>

</div>
