.register-box {
  margin:auto;
  width:40%;
  background-color: white;
  box-shadow: 5px;
  border-radius: 5px;
}

.register-text {
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.login-text {
  text-align: center;
  font-size: 15px;
}

.credentials {
  padding: 20px;
}

.credentials button {
  width: 30%;
}

.forgot-password {
  padding: 10px;
  font-size: 10px;
}
