<app-nav></app-nav>

<div class=register-box>
  <div class=register-text>
    Register
  </div>

  <div class=login-text>
    Already have an account? <a routerLink="/login">Sign in</a>
  </div>

  <form>

    <div class=credentials>

      <label for="email"><b>Email </b></label><br><br>
      <input type="email" required><br><br>

      <label for="username"><b>Username </b></label><br><br>
      <input type="text" required><br><br>

      <label for="password"><b>Password </b></label><br><br>
      <input type="password" required><br><br>

      <label for="confirm-password"><b>Confirm Password </b></label><br><br>
      <input type="password" required><br><br>

      I am a
      <br><br><label><input type="radio" name="user-type"> Doctor</label><br>
      <label><input type="radio" name="user-type"> Patient</label><br>
      <label><input type="radio" name="user-type"> Provider</label><br><br>


      <button type="submit">Register</button>
    </div>

  </form>

</div>
